{% extends 'base.html' %}

{% load static %}


{% block title %}
    <title> Ma cantine scolaire </title>
    {% endblock title %}



<body class="g-sidenav-show  bg-gray-100">
    {% include 'home.html' %}
    
    {% block body %}


<main class="main-content border-radius-lg ">


    <div class="container-fluid py-4">

        <footer class="footer py-4  ">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                        <div class="copyright text-center text-sm text-muted text-lg-start">
                            © <script>
                            document.write(new Date().getFullYear())
                        </script>
                            ADA
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>


</main>


{% endblock body %}
